<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>DAP</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ '/'|url}}static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ '/'|url}}static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ '/'|url}}static/css/agency.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid d-block mx-auto" src="{{ '/'|url}}static/img/logo.png" alt="">
            <p class="name">Departamento Administrativo de Planeación</p>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services generales">Resultados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services incumplimiento">Incumplimiento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services alerta">Alerta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services concejo">Concejo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Subregiones</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Resultados Generales -->
    <section id="services generales">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Oriente</h2>
            <h3 class="section-subheading text-muted" style="line-height: 1.2">Para la vigencia 2017, el 97,6% (122) de los municipios del Departamento presentaron cumplimiento en el indicador de autofinanciación del funcionamiento y el 2,4% (3 municipios) presentaron incumplimiento del Indicador de Ley 617 en la administración central. En el caso de los órganos de control de tiene un cumplimiento del 100% para Personería y Contraloría, sin embargo para el Concejo el 96,8% (121) de los municipios cumple, mientras que el 3,2% (4 municipios) incumple.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <img class="img-fluid" src="{{ '/'|url}}static/img/Resultados.png" alt="">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <img class="img-fluid" src="{{ '/'|url}}static/img/Resultados2.png" alt="">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- incumplimiento -->
    <section id="services incumplimiento">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Municipios en Incumplimiento</h2>
            <h3 class="section-subheading text-muted">Los siguientes municipios incumplen los límites de la Ley 617 de 2000 para administración central y serán priorizados en el acompañamiento y asistencia técnica por el equipo multidisciplinario de la Dirección de Finanzas y Gestión de Recursos de Planeación Departamental y deberán acogerse a un programa de Saneamiento Fiscal y Financiero de acuerdo a las disposiciones de la Ley 617 de 2000. </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-3">
                  <img class="img-fluid" src="{{ '/'|url}}static/img/Incumplimiento.png" alt="">
                </div>
                <div class="col-md-9">
                  <table id="Incumplimiento">
                    <tr>
                      <th>Subregión</th>
                      <th>Municipio</th>
                      <th>Indicador</th>
                      <th>Categoría</th>
                      <th>Límite</th>
                    </tr>
                    <tr>
                      <th>Bajo Cauca</th>
                      <th>Nechí</th>
                      <th>85,80%</th>
                      <th>6</th>
                      <th>80%</th>
                    </tr>
                    <tr>
                      <th>Occidente</th>
                      <th>Heliconia</th>
                      <th>84,34%</th>
                      <th>6</th>
                      <th>80%</th>
                    </tr>
                    <tr>
                      <th>Suroeste</th>
                      <th>La Pintada</th>
                      <th>90,13%</th>
                      <th>6</th>
                      <th>80%</th>
                    </tr>
                  </table>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Alerta -->
    <section id="services alerta">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Municipios en Estado de Alerta</h2>
            <h3 class="section-subheading text-muted">Los siguientes municipios se encuentran en estado de alerta por su proximidad al incumplimiento del indicador 617 de 2000)</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <img class="img-fluid" src="{{ '/'|url}}static/img/Alerta.png" alt="">
                </div>
                <div class="col-md-12">
                  <table id="Incumplimiento">
                    <tr>
                      <th>Subregión</th>
                      <th>Municipio</th>
                      <th>Indicador</th>
                      <th>Categoría</th>
                      <th>Límite</th>
                    </tr>
                    {% set members = site.query('/alerta') %}
                    {% for member in members %}
                    <tr>
                      <th>{{ member.subregion}}</th>
                      <th>{{ member.municipio}}</th>
                      <th>{{ member.indicador}}</th>
                      <th>{{ member.categoria}}</th>
                      <th>{{ member.limite}}</th>
                    </tr>
                    {% endfor %}
                  </table>

                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Concejo -->
    <section id="services concejo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Municipios en Incumplimiento Concejo</h2>
            <h3 class="section-subheading text-muted">Los siguientes municipios incumplen los límites de la Ley 617 de 2000 para Concejo</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <table id="Incumplimiento">
                    <tr>
                      <th>Subregión</th>
                      <th>Municipio</th>
                    </tr>
                    <tr>
                      <th>Bajo Cauca</th>
                      <th>Nechí</th>
                    </tr>
                    <tr>
                      <th>Occidente</th>
                      <th>Armenia</th>
                    </tr>
                    <tr>
                      <th>Occidente</th>
                      <th>Olaya</th>
                    </tr>
                    <tr>
                      <th>Valle de Aburrá</th>
                      <th>Copacabana</th>
                    </tr>
                  </table>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Subregiones</h2>
            <h3 class="section-subheading text-muted">Resultados Subregionales.</h3>
          </div>
        </div>
        <div class="row">
          {% set members = site.query('/subregiones') %}
          {% for member in members %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="/Oriente/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ member|url}}{{ member.image }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ member.name }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>



    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/'|url}}static/vendor/jquery/jquery.min.js"></script>
    <script src="{{ '/'|url}}static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/'|url}}static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ '/'|url}}static/js/jqBootstrapValidation.js"></script>
    <script src="{{ '/'|url}}static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ '/'|url}}static/js/agency.min.js"></script>

  </body>

</html>
